<div id="about" class="wrapper1">
    <h1>About me</h1>
    <div class="abt-container">
        <div class="row ">
            <div class="about-col-1">
                <img src="{{site.baseurl}}/assets/images/Profile_pic.jpg" alt="">
            </div>
            <div class="about-col-2">
                <p class="abt-text-p">I’m a graduate student in Mechatronics, Robotics, and Automation with a Bachelor's in Robotics. I specialize in Machine Learning, Deep Learning, Computer Vision, PLC programming, and SCADA systems. My projects include developing a Socially Aware Medi-Assist Robotic system and an automated object retrieval system, both designed to solve real-world challenges efficiently. With a focus on sustainability, system integration, and real-time data processing, I aim to create innovative robotics solutions that make a great impact.
                                        </p>
                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>Siemens PLC Programming (TIA Portal)</span><br>Experienced in PLC programming with Siemens TIA Portal and S7-1200 controllers, focusing on efficient control system design for industrial automation. Skilled in ladder logic, function block diagrams, and structured text for system control, monitoring, and troubleshooting. Proficient in integrating sensors, actuators, and I/O devices for seamless automation.</li>
                        <li><span>Ignition SCADA Systems</span><br>Proficient in Ignition SCADA, specializing in HMI design, reports, and alarm management. Experienced in PLC integration for real-time data control and using Python scripting for automation.</li>
                        <li><span>Control Systems</span><br>Knowledgeable in Control Systems, with experience in feedback control loops, PID controllers, and automation for industrial processes. Skilled in using PLCs and SCADA for real-time monitoring and ensuring optimal system performance.</li>
                        <li><span>Machine Learning</span><br>Proficient in Machine Learning, with expertise in scikit-learn, TensorFlow, and PyTorch. Experienced in applying supervised and unsupervised algorithms for classification, regression, clustering, and anomaly detection. Skilled in optimizing models for performance and scalability.</li>
                        <li><span>Deep Learning</span><br>Skilled in Deep Learning and Computer Vision using OpenCV, TensorFlow, and PyTorch for real-time image processing, object detection, and segmentation. Experienced in integrating deep learning models with robotics for navigation, manipulation, and autonomous decision-making.</li>
                        <li><span>Computer Vision</span><br>Experienced in Computer Vision with OpenCV, TensorFlow, and PyTorch for real-time image processing and object detection. Proficient in segmentation, object recognition, and feature tracking. Skilled in integrating vision systems with robotics for navigation, manipulation, and autonomous decision-making.</li>
                        <li><span>CAD Design & 3D Modeling</span><br>Skilled in SOLIDWORKS and AutoCAD for creating 3D models, assemblies, and technical drawings for robotics and automation. Experienced in designing manufacturable parts and collaborating with engineering teams to meet specifications.</li>

                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>2024-Present</span><br>Graduate Assistant @ New York University</li>
                        <li><span>2022-2022</span><br>Robotics Programming Intern @ Kodacy</li>
                        <li><span>May,2022 - July,2022</span><br>Python Programming Intern @ Cisco Networking Academy</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li>
                            <span>2025</span><br>
                            Master of Science in Mechatronics, Robotics, and Automation<br>
                            New York University
                        </li>
                        <li>
                            <span>2023</span><br>
                            Bachelor of Technology in Robotics and Automation<br>
                            Karunya University
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents"); 

    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link")
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab")
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }
</script>