<div id="about" class="wrapper1">
    <h1>About me</h1>
    <div class="abt-container">
        <div class="row ">
            <div class="about-col-1">
                <img src="{{site.baseurl}}/assets/images/Profile_pic.jpg" alt="">
            </div>
            <div class="about-col-2">
                <p class="abt-text-p">As a Master's student in Mechatronics, Robotics, and Automation at NYU, and with a Bachelor's in Robotics and Automation from Karunya University, I am passionate about driving innovation in the field of robotics and automation engineering. My expertise spans across areas like PLC programming, control systems, SCADA systems, and Python programming, providing me with a well-rounded skill set to tackle complex automation challenges.

                    Through both academic projects and hands-on internships, I have gained valuable experience in designing and implementing cutting-edge robotic systems, with a focus on automation, system integration, and real-time data processing. I am eager to leverage my skills and knowledge to contribute to the future of robotics and automation, and I am committed to driving impactful solutions that improve efficiency, safety, and sustainability in industrial and everyday applications.</p>
                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>Siemens PLC Programming (TIA Portal)</span><br>Experienced in PLC Programming using Siemens TIA Portal and S7-1200 controllers, with a strong focus on designing, configuring, and implementing efficient control systems for industrial automation. Skilled in programming ladder logic, function block diagrams, and structured text for tasks like system control, process monitoring, and troubleshooting. Proficient in integrating various input/output devices, sensors, and actuators, ensuring seamless communication within automated systems.</li>
                        <li><span>Ignition SCADA Systems</span><br>Proficient in Ignition SCADA, skilled in creating HMI screens, reports, and alarm management systems. Experienced in integrating Ignition with PLCs for real-time data acquisition and control, and using Python scripting for automation tasks.</li>
                        <li><span>Control Systems</span><br>Knowledgeable in Control Systems, with experience in designing and implementing feedback control loops, PID controllers, and automation systems for industrial processes. Skilled in using PLCs and SCADA systems for real-time monitoring and control, ensuring optimal system performance and efficiency.</li>
                        <li><span>Machine Learning</span><br>Proficient in Machine Learning with expertise in developing models using scikit-learn, TensorFlow, and PyTorch. Experienced in applying supervised and unsupervised learning algorithms for tasks such as classification, regression, clustering, and anomaly detection. Skilled in optimizing models for performance and scalability.</li>
                        <li><span>Deep Learning</span><br>killed in Deep Learning and Computer Vision using OpenCV, TensorFlow, and PyTorch for real-time image processing, object detection, image segmentation, and object recognition. Experienced in integrating deep learning models with robotics for tasks like navigation, manipulation, and autonomous decision-making.</li>
                        <li><span>Computer Vision</span><br>
                            Experienced in computer vision using OpenCV, TensorFlow, and PyTorch for real-time image processing and object detection. Proficient in image segmentation, object recognition, and feature tracking. Skilled in integrating computer vision systems with robotics for navigation, manipulation, and autonomous decision-making using both deep learning and traditional techniques.</li>
                        <li><span>CAD Design & 3D Modeling</span><br>Skilled in SOLIDWORKS and AutoCAD, with expertise in creating 3D models, assemblies, and technical drawings for robotics and automation systems. Experienced in designing precise, functional, and manufacturable parts, collaborating with engineering teams to ensure designs meet specifications.</li>

                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>2024-Present</span><br>Graduate Assistant @ New York University</li>
                        <li><span>2022-2022</span><br>Robotics Programming Intern @ Kodacy</li>
                        <li><span>May,2022 - July,2022</span><br>Python Programming Intern @ Cisco Networking Academy</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li>
                            <span>2025</span><br>
                            Master of Science in Mechatronics, Robotics, and Automation<br>
                            New York University
                        </li>
                        <li>
                            <span>2023</span><br>
                            Bachelor of Technology in Robotics and Automation<br>
                            Karunya University
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents"); 

    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link")
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab")
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }
</script>