<section class="footer">
    <div class="footer-content wrapper1">
        <p class="txt2">Like what you see?? <br>View my <a class="footer-lnk" style="color: var(--contrast);" href="{{site.baseurl}}/assets/resume/your_resume.pdf" target="_blank">resume</a>, get in touch 👇</p>
        <br>
        <p class="txt4"><a class="footer-lnk" style="color: #000;" href="https://mail.google.com/" target="_blank">Email 📩</a> | <a class="footer-lnk" style="color: #000;" href="https://www.linkedin.com/" target="_blank"> Linkedin 💼</a></p>
        <br>
    </div>
</section>